@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
    --white: #fff;
    --black: #000;

    --orange-main: #FF8A00;
    --orange-hover-bright: #ffbb6e;
    --orange-hover-dark: #834600;

    --blue-main: #0500FF;
    --blue-hover-bright: #5c59ff;
    --blue-hover-dark: #0300a0;

    --green-main: #05FF00;
    --green-hover-bright: #65ff62;
    --green-hover-dark: #03a500;

    --gray-main: #D9D9D9;
    --gray-hover-dark: #8a8a8a;
    --gray-hover-dark-2: #3F3F3F;

    --yellow-main: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    line-height: 51px;
}

h2 {
    font-size: 30px;
    line-height: 51px;
}

h3 {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--white);
}

.desktop {
    display: flex;
}

header {
    background-color: var(--blue-main);
    height: 62px;
    align-items: center;
    max-width: 100vw;
    justify-content: space-between;
    padding: 0 10vw;
}

.LogoDevPass {
    position: relative;
    height: 25px;
    width: auto;
    margin-right: 10px;
}

.LogoDevPass::before {
    position: relative;
    content: 'q1213';
    background-color: #000;
    color: #0300a0;
    bottom: 10;
    left: 10;
    height: 100%;
    width: 100%;
}

header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.Navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.HeaderLinks {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    transition: ease 0.4s;
}

.HeaderLinks:hover {
    text-decoration: underline;
}

.HeaderLogin {
    text-wrap: nowrap;
    border-radius: 5px;
    border: solid 1px white;
    padding: 4px;
}

.HeaderLogin i {
    font-size: 15px;
}

.HeaderLogin:hover {
    text-decoration: none;
    background-color: var(--blue-hover-bright);
}

.SearchBar {
    min-width: 196px;
    width: 5%;
    height: 33px;
    background-color: #FFFFFF80;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

.SearchBar input {
    width: 100%;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    cursor: initial;

}

#desktopSearchInput::-webkit-input-placeholder {
    color: #1C1C1C;
    font-style: bold;
    font-size: 12px;
}


.Header-course .Content {
    position: relative;
    /* Adicionando uma posição relativa para que o conteúdo dentro possa estar acima */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
    height: 70vh;
}

.Header-course .BackgroundImage1{
    position: absolute;
    object-fit: cover;   
    filter: blur(5.1px);
    opacity: 0.9;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
}

.Content .Information-key {
    position: relative;
    min-width: 364px;
}

.Information-key .Title{
    text-shadow: var(--white) 3px 3px 10px;;
}

.Information-key .Sub-title{
    font-weight: 500;
    text-shadow: var(--gray-hover-dark) 3px 3px 10px;
}

.Information-key .Autor{
    font-weight: 400;
    text-shadow: var(--gray-hover-dark) 3px 3px 10px;
}

.Information-key .Sub-title,
.Rating {
    margin-top: 8px;
    
}

.Rating .yellow {
    color: var(--yellow-main);
}

.Rating .gray {
    color: var(--gray-hover-dark);
}

.Information-key .Autor,
.Language {
    margin-top: 16px;
}

.Content .Course-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 48px;

    min-width: 330px;
    width: 40%;
    height: 100%;
    padding: 2px;
    border: 2px solid #000;
    border-radius: 40px;
    background-color: var(--white);
    transition: 0.3s ease;
}

.Course-card:hover {
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
}

.Course-card img {
    border-radius: 40px 40px 0 0;
    width: 100%;
    height: 50%;
}

.Course-card i {
    font-size: 80px;
    color: var(--white);
    cursor: pointer;
    position: absolute;
    top: 139px;
    left: calc(50% - 40px);
    transition: 0.3s ease;
}

.Course-card i:hover {
    color: var(--gray-hover-dark);
}

.Course-card .Value {
    flex-grow: 3;
    display: flex;
    align-items: center;
    gap: 3px;
}

.Value #value {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 3px;
}

.Value #value-older {
    color: var(--gray-hover-dark);
    font-size: 20px;
    text-decoration: line-through;
}

.Course-card .Button-content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-grow: 2;
}

.Course-card #buy-button {
    border-radius: 40px;
    width: 90%;
    height: 66px;
    font-size: 25px;
    padding: 12px 11px;
    border-radius: 6px;
    border: none;
    background-color: var(--orange-main);
    color: var(--white);
    cursor: pointer;
    transition: 0.3s ease;
}

#buy-button:hover {
    background-color: var(--green-hover-dark);
}

.Description {
    margin: 90px 10vw 40px 10vw;
}

.Description p {
    margin-top: 35px;
    line-height: 25px;
}

.Course-content {
    margin: 20px 10vw;
}

.Course-content .Frame {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray-hover-dark-2);
    border-radius: 10px;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s ease;
}

.Frame:hover {
    background-color: var(--gray-hover-dark);
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
}

.Frame .Frame-header{
    width: 100%;
    padding: 25px 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Frame .Chapter {
    display: flex;
    align-items: center;
    gap: 15px;
}

.Frame .Chapter i {
    font-size: 25px;
}

.Content-info{
    padding: 25px 70px;
    width: 100%;
    background-color: var(--gray-hover-dark);
    border-radius: 0 0 10px 10px;
    transition: 0.3s ease;
}

.Content-info:hover{
    background-color: var(--gray-hover-dark-2);
    opacity: 0.8;
}

.Content-info ul {
    list-style-type: none;
    padding-left: 0;
}

.Content-info ul li {
    background: transparent;
    margin: 5px 0;
    padding: 5px;
    border-radius: 3px;
}

.Container {
    margin-top: 45px;
    max-width: 1600px;
    padding: 0 10vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.Container {
    margin-top: 45px;
    width: 100%;
    max-width: 1600px;
    padding: 0 10vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.ContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Button {
    color: var(--white);
    background-color: var(--blue-main);
    color: #ffffff;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    min-width: 130px;
}

.Button:hover {
    text-decoration: none;
    background-color: var(--blue-hover-bright);
}

.Carousel{
    position: relative;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
    z-index: 2;
}

.CourseList {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
    z-index: 3;
}


.CarouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    z-index: 2;
}

.Prev {
    left: 0;
}

.Next {
    right: 0;
}

.CourseItem {
    padding: 10px;
    border-radius: 20px;
    margin: 20px 0;
    min-width: 240px;
    max-width: 270px;
    width: 20%;
    cursor: pointer;
    transition: 0.2s ease;
}

.CourseItem:hover{
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.2);
}

.CourseItem .CursoImage {
    border-radius: 10px;
    max-width: 270px;
    width: 100%;
}

.CourseItem .CursoTitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.CourseItem .CursoAuthor {
    color: var(--gray-hover-dark);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.CursoRating .yellow {
    color: var(--yellow-main);
}

.CursoRating .gray {
    color: var(--gray-hover-dark);
}

footer {
    height: 73px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 321px;
    background-color: #0500ff;
    padding: 31px 10vw;
    width: 100%;
    box-shadow: 0px -4px 6px 0px #00000040;
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer .footer-title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .icons {
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .socials-network {
    display: flex;
    gap: 10px;
}

.icons p {
    text-align: center;
    color: var(--white);
}

footer .active i {
    color: var(--blue-main);
}

footer .fa-solid {
    color: var(--gray-hover-dark-2);
    width: 100%;
    height: 100%;
    font-size: 28px;
    text-align: center;
}
