@media screen and (max-width: 1024px) {

    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 35px;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 0 10vw;

    }

    header .Navbar {
        width: 100%;
        justify-content: space-between;
    }

    .WelcomeText {
        font-size: 30px;
        padding: 22px 10vw;
    }

    .WelcomeInformation {
        flex-direction: column;
        padding: 0 10vw;
    }

    .WelcomeInformation .WelcomeImage {
        width: 60%;
    }

    .WelcomeDescription{
        text-align: center;
    }

    .WelcomeDescription .WelcomeSubtitle {
        
        margin-top: 5px;
    }

    .Icons {
        display: flex;
        gap: 30px;
    }

    .Icon {
        width: 70px;
    }

    .Banner2{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .BannerDescription{
        text-align: center;
        gap: 5px;
    }

    .Banner3{
        flex-direction: column;
        gap: 30px;
    }
    
    .Banner3Image{
        width: 100%;
        min-width: 250px;
    }
    
    .Banner3Title{
        width: 100%;
        min-width: 300px;
    }


    .footer {
        padding: 30px 10vw;
        height: 350px;
    }

    .footer .columns-container {
        gap: 10px;
    }

    .columns-container .footer-column .footer-title {
        font-size: 18px;
    }

    .footer-column a {
        font-size: 15px;
    }

    .footer .icons {
        width: 100%;
        margin: 0;
        justify-content: space-between;
    }

    .icons p {
        font-size: 15px;
    }

    .footer .icons .brand img {
        width: 200px;
    }

    .icons .socials-network {
        margin: 0;
    }

    .icons .socials-network img {
        width: 40px;
    }
}


@media screen and (max-width: 630px) {

    h1 {
        font-size: 45px;
    }

    h2{
        font-size: 30px;
    }

    header {
        height: 120px;
    }

    header .Navbar {
        width: 100%;
        min-width: 334px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 5px;
    }

    .SearchBar{
        min-width: 334px;
    }
    
    .WelcomeDescription .WelcomeImage {
        min-width: 380px;
    }

    .WelcomeText {
        font-size: 30px;
        padding: 22px 10vw;
    }

    .BannerText {
        font-size: 25px;
    }

    .Icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }

    .Icon {
        width: 70px;
    }

    .Banner2Image{
        min-width: 300px;
    }

    .ContainerTitle{
        width: 50%;
        word-wrap: break-word;
    }

    .footer {
        gap: 10px;
        height: 100%;
    }

    .footer .columns-container {
        flex-wrap: wrap;
    }

    .footer {
        gap: 10px;
        height: 100%;
    }

    .footer .columns-container {
        flex-wrap: wrap;
    }

    .columns-container .footer-column .footer-title {
        font-size: 14px;
    }

    .footer-column a {
        font-size: 11px;
    }

    .icons p {
        font-size: 11px;
    }

    .footer .icons .brand img {
        width: 100px;
    }

    .icons .socials-network img {
        width: 30px;
    }
}