@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

:root {
    --white: #fff;
    --black: #000;

    --orange-main: #ff8a00;
    --orange-hover-bright: #ffbb6e;
    --orange-hover-dark: #834600;

    --blue-main: #0500ff;
    --blue-hover-bright: #5c59ff;
    --blue-hover-dark: #0300a0;

    --green-main: #05ff00;
    --green-hover-bright: #65ff62;
    --green-hover-dark: #03a500;

    --gray-main: #d9d9d9;
    --gray-hover-dark: #8a8a8a;
    --gray-hover-dark-2: #3f3f3f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Media query para celulares */
body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
    width: 100%;
    margin-bottom: 100px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 14px;
    width: 100%;
}

header :hover {
    cursor: pointer;
}

.WelcomeText {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    padding: 22px 14px;
}

.Banner {
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}


.BannerText {
    font-size: 20px;
    text-align: center;
    color: var(--white);

}

.BannerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.BannerContent {
    position: relative;
    z-index: 2;
    text-shadow: 1px 2px 2px var(--gray-hover-dark-2);
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
}

.Icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.Icon {
    width: 50px;
    height: auto;
}


.Container {
    width: 100%;
    height: auto;
}

.ContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.Cursos {
    padding: 15px;
}

.CursosItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.CursosItem {
    width: 100%;

}

.CursosImage {
    width: 100%;
    height: auto;
}

.VagaTitle {
    font-size: 11px;
    overflow: hidden;
    font-weight: 500;
    text-decoration-line: none;
    color: var(--black);
    padding-top: 4px;
}

#ConteudoComunidades .VagaTitle {
    text-align: center;
}

.VagaTitle:hover {
    text-decoration-line: underline;
}


footer {
    height: 73px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 321px;
    background-color: #0500ff;
    padding: 31px 157px;
    width: 100%;
    box-shadow: 0px -4px 6px 0px #00000040;
}

.columns-container {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.desktop-footer h3 {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.desktop-footer a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.desktop-footer .icons {
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-footer .socials-network {
    display: flex;
    gap: 10px;
}

.icons p {
    text-align: center;
    color: var(--white);
}

footer .active i {
    color: var(--blue-main);
}

footer .fa-solid {
    color: var(--gray-hover-dark-2);
    width: 100%;
    height: 100%;
    font-size: 28px;
    text-align: center;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

/* Media query para tablets */
@media screen and (min-width: 768px) {}

/* Media query para desktops */
@media screen and (min-width: 1024px) {


    body {
        min-height: 100vh;
        max-width: 100vw;
        background-color: var(--white);
    }

    header {
        background-color: var(--blue-main);
        height: 73px;
        align-items: center;
        justify-content: space-between;
    }

    .circle img {
        width: 38.47px;
        height: 39.95px;
    }

    .LogoDevPass {
        height: 25px;
        width: auto;
    }

    header .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }

    .Navigation {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .HeaderLinks {
        color: #ffffff;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        justify-content: center;
        transition: ease 0.4s;
    }

    .HeaderLinks:hover {
        text-decoration: underline;
    }

    .HeaderLogin {
        border-radius: 5px;
        border: solid 1px white;
        padding: 4px;
    }

    .HeaderLogin:hover {
        text-decoration: none;
        background-color: var(--blue-hover-bright);
    }

    .SearchBar {
        width: 292px;
        height: 33px;
        background-color: #ffffff80;
        border-radius: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        padding: 0px 10px;
    }

    .SearchBar input {
        width: 100%;
        text-decoration: none;
        margin-left: 10px;
        border: none;
        outline: none;
        background: transparent;
        cursor: initial;
    }

    #desktopSearchInput::-webkit-input-placeholder {
        color: #1c1c1c;
        font-style: bold;
        font-size: 12px;
    }

    .WelcomeText {
        font-size: 35px;
    }

    #Welcome {
        padding: 15px 30px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-align: right;
        gap: 15px;
    }


    .WelcomeImage {
        width: 50%;
        height: auto;

    }

    .WelcomeTitle {
        font-family: 'Oxygen', sans-serif;
        font-weight: 700;
        font-size: 80px;
    }

    .WelcomeSubtitle {
        font-weight: 600;
        font-size: 20px;
    }


    .text-color-orange {
        color: var(--orange-main);
    }

    .text-color-green {
        color: var(--green-main);
    }

    .text-color-blue {
        color: var(--blue-main);
    }

    .BannerText {
        font-size: 30px;
    }

    .BannerContent {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 20px;
    }

    .Icons {
        display: flex;
        gap: 50px;
    }

    .Icon {
        width: 75px;
    }

    .Container {
        max-width: 1600px;
        padding: 0 12px;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }


    .Items {
        display: flex;
        flex-direction: column;
        margin-right: 52px;
        width: 309px;
        height: 179px;
    }

    .Cursos {
        padding: 30px;
    }

    .CursosItems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .CursosItem {
        width: 18%;
    }

    .desktop {
        display: flex;
    }

    .mobile {
        display: none;
    }
}
