@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

:root {
    --white: #fff;
    --black: #000;

    --orange-main: #ff8a00;
    --orange-hover-bright: #ffbb6e;
    --orange-hover-dark: #834600;

    --blue-main: #0500ff;
    --blue-hover-bright: #5c59ff;
    --blue-hover-dark: #0300a0;

    --green-main: #05ff00;
    --green-hover-bright: #65ff62;
    --green-hover-dark: #03a500;

    --gray-main: #d9d9d9;
    --gray-hover-dark: #8a8a8a;
    --gray-hover-dark-2: #3f3f3f;

    --yellow-main: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Montserrat", sans-serif;
    background-color: var(--white);
    min-height: 100vh;
    width: 100%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}


header {
    background-color: var(--blue-main);
    height: 62px;
    align-items: center;
    max-width: 100vw;
    justify-content: space-between;
    padding: 0 10vw;
}

h1 {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-size: 70px;
}

h2 {
    font-weight: 700;
    font-size: 35px;
}


.text-color-orange {
    color: var(--orange-main);
    
}

.text-color-green {
    color: var(--green-main);
}

.text-color-blue {
    color: var(--blue-main);
}

.LogoDevPass {
    position: relative;
    height: 25px;
    width: auto;
    margin-right: 10px;
}

.LogoDevPass::before {
    position: relative;
    content: 'q1213';
    background-color: #000;
    color: #0300a0;
    bottom: 10;
    left: 10;
    height: 100%;
    width: 100%;
}

.Header{
    display: flex;
}

header .Navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.Navigation {
    display: flex;
    gap: 20px;
    align-items: center;
}

.HeaderLinks {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    transition: ease 0.4s;
}

.HeaderLinks:hover {
    text-decoration: underline;
}

.HeaderLogin {
    text-wrap: nowrap;
    border-radius: 5px;
    border: solid 1px white;
    padding: 4px;
}

.HeaderLogin i {
    font-size: 15px;
}

.HeaderLogin:hover {
    text-decoration: none;
    background-color: var(--blue-hover-bright);
}

.SearchBar {
    min-width: 196px;
    width: 5%;
    height: 33px;
    background-color: #FFFFFF80;
    border-radius: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 10px;
}

.SearchBar input {
    width: 100%;
    text-decoration: none;
    margin-left: 10px;
    border: none;
    outline: none;
    background: transparent;
    cursor: initial;

}

#desktopSearchInput::-webkit-input-placeholder {
    color: #1C1C1C;
    font-style: bold;
    font-size: 12px;
}

.ContainerWelcome {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.WelcomeText {
    font-size: 35px;
    font-weight: 600;
    color: var(--black);
    padding: 22px 10vw;
}

.WelcomeInformation {
    width: 100%;
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    text-align: right;
    gap: 15px;
}

.WelcomeInformation .WelcomeImage {
    max-width: 520px;
    min-width: 350px;
    width: 100%;
}

.WelcomeDescription {
    padding-right: 10px;
    max-width: 555px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.WelcomeInformation .WelcomeSubtitle {
    font-weight: 600;
    font-size: 20px;
}

.Banner {
    margin-top: 50px;
    position: relative;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.BannerText {
    font-size: 30px;
    text-align: center;
    color: var(--white);
}

.BannerImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.BannerContent {
    position: relative;
    z-index: 2;
    text-shadow: 1px 2px 2px var(--gray-hover-dark-2);
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
}

.BannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.Icons {
    display: flex;
    gap: 50px;
}

.Icon {
    width: 75px;
}

.Container {
    margin-top: 45px;
    width: 100%;
    max-width: 1600px;
    padding: 0 10vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.ContainerTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Button {
    color: var(--white);
    background-color: var(--blue-main);
    color: #ffffff;
    padding: 5px 7px;
    border-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    min-width: 130px;
}

.Button:hover {
    text-decoration: none;
    background-color: var(--blue-hover-bright);
}

.Cursos-Carousel{
    position: relative;
    width: 100%;
    max-width: 2000px;
    overflow: hidden;
}

.CursosItems {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
}


.CarouselBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px 15px;
    cursor: pointer;
    z-index: 2;
}

.Prev {
    left: 0;
}

.Next {
    right: 0;
}

.CursoItem {

    margin: 20px 0;
    min-width: 240px;
    max-width: 270px;
    width: 20%;
    cursor: pointer;
}

.CursoItem .CursoImage {
    max-width: 270px;
    width: 100%;
}

.CursoItem .CursoTitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
}

.CursoItem .CursoAuthor {
    color: var(--gray-hover-dark);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.CursoRating .yellow {
    color: var(--yellow-main);
}

.CursoRating .gray {
    color: var(--gray-hover-dark);
}

.Banner2{
    padding: 0 10vw;
    display: flex;
    align-items: center;
}

.Banner2Image{
    width: 100%;
    max-width: 500px;
    min-width: 350px;
}

.BannerDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 600;
    color: var(--black);
}

.CommunityCarousel{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.CommunityItems{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 15px;
    transition: transform 0.5s ease-in-out;
}

.CommunityItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    position: relative;
    min-width: 268px;
    background-color: var(--blue-main);
    border-radius: 50px;
    padding: 80px 20px 20px 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}

.CommunityImage {
    position: absolute;
    top: -30px; /* Ajusta a imagem para ficar acima do fundo */
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.CommunityTitle {
    font-size: 24px;
    margin-top: 10px;
}

.Description {
    font-size: 18px;
    font-weight: 400;
    margin: 20px 0;
}

.ActivitiesItem{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 10px;
    margin-top: 5px;
}

.Community.Button2 {
    background-color: transparent;
    color: var(--white);
    border: 1px solid #fff;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease;
}

.Community.Button2:hover {
    background-color: rgba(99, 97, 97, 0.445);
    
}

.Banner3{
    margin: 50px 10vw 100px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Banner3Image{
    max-width: 461px;
    width: 50%;
    min-width: 320px;
}

.Banner3Title{
    max-width: 500px;
    width: 50%;
    min-width: 300px;
    text-align: center;
}

.BannerSubtitle{
    font-weight: 600;
    font-size: 20px;
}

footer {
    height: 73px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 321px;
    background-color: #0500ff;
    padding: 31px 10vw;
    width: 100%;
    box-shadow: 0px -4px 6px 0px #00000040;
}

.columns-container {
    display: flex;
    justify-content: space-between;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer .footer-title {
    color: var(--black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer a {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .icons {
    margin: 0 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .socials-network {
    display: flex;
    gap: 10px;
}

.icons p {
    text-align: center;
    color: var(--white);
}

footer .active i {
    color: var(--blue-main);
}

footer .fa-solid {
    color: var(--gray-hover-dark-2);
    width: 100%;
    height: 100%;
    font-size: 28px;
    text-align: center;
}