.toast {
  visibility: hidden;
  width: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  right: 30px;
  bottom: -100px;
  font-size: 17px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.toast.show {
  visibility: visible;
  animation: slideIn 0.5s forwards, fadeOut 0.5s 2.5s forwards;
}

@keyframes slideIn {
  from {
    bottom: -100px;
  }
  to {
    bottom: 30px;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    bottom: -100px;
  }
}
